@import "normalize";
@import "Table";

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  line-height: 24px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 20px;
}

.base-input {
  background-color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_interval {
    text-align: center;

    input {
      width: 100px;
      text-align: center;
      padding: 0;
    }
  }
}
