.table {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;

  th {
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }

    span {
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        background-color: #000000;
        top: 6px;
        width: 2px;
        height: 8px;
        display: none;
        border-radius: 1px;
      }

      &::after {
        right: -8px;
        transform: rotate(-135deg);
      }

      &::before {
        right: -12px;
        transform: rotate(135deg);
      }

      &.active {
        &::after,
        &::before {
          display: block;
        }

        &.reversed {
          &::after {
            transform: rotate(-35deg);
          }

          &::before {
            transform: rotate(35deg);
          }
        }
      }
    }
  }

  th,
  td {
    width: 1%;
    border: 1px solid #000000;
  }

  td {
    padding: 5px;
  }
}
